package universal

type ResultResponse struct {
	Succeed bool   `json:"succeed"`
	Message string `json:"message,omitempty"`
}

type CreateResponse struct {
	ChannelID string `json:"channelid"`
}
type ListenQuery struct {
	ChannelID string `uri:"channelid" binding:"required"`
}
