package apis

import (
	"{{ app_name }}/auth/models"

	"github.com/Golang-Tools/jwthelper"
	"github.com/Golang-Tools/jwthelper/gin_middleware"
	"github.com/Golang-Tools/sqlhelper"
	"github.com/gin-gonic/gin"
)

func Init(app *gin.Engine, db *sqlhelper.Proxy, signer jwthelper.UniversalJwtSigner, salt string, authMiddlewareFactory gin_middleware.AuthMiddlewareFactoryFunc) {
	auth := app.Group("/auth/api")
	s := newAuthSourceGroup(db, signer, salt)
	checksuperusermiddle := authMiddlewareFactory(gin_middleware.WithCheckIP(), gin_middleware.WithCheckAdmin("superuser"))
	checkselfmiddle := authMiddlewareFactory(gin_middleware.WithCheckSelf(func(c *gin.Context) (int64, error) {
		u := models.User{}
		err := c.ShouldBindUri(&u)
		if err != nil {
			return 0, err
		}
		return u.ID, nil
	}))
	auth.POST("/login", s.Login)
	auth.POST("/login/", s.Login)
	auth.GET("/user", checksuperusermiddle, s.ListUsers)
	auth.GET("/user/", checksuperusermiddle, s.ListUsers)
	auth.POST("/user", checksuperusermiddle, s.CreateUser)
	auth.POST("/user/", checksuperusermiddle, s.CreateUser)
	auth.GET("/user/:id", checkselfmiddle, s.GetUserInfo)
	auth.PUT("/user/:id", checksuperusermiddle, s.UpdateUser)
	auth.DELETE("/user/:id", checksuperusermiddle, s.DeleteUser)
}
