package downloads

import (
	"{{ app_name }}/auth/models"

	"github.com/Golang-Tools/jwthelper/v2/gin_middleware"
	"github.com/Golang-Tools/optparams"
)

type Options struct {
	AppVersion            string
	AppName               string
	AuthMiddlewareFactory gin_middleware.AuthMiddlewareFactoryFunc
}

var DefaultOptions = Options{}

//WithAppVersion 设置模块所在应用的版本
func WithAppVersion(version string) optparams.Option[Options] {
	return optparams.NewFuncOption(func(o *Options) {
		o.AppVersion = version
	})
}

//WithAppName 设置模块所在应用的名字
func WithAppName(name string) optparams.Option[Options] {
	return optparams.NewFuncOption(func(o *Options) {
		o.AppName = name
	})
}

//WithAuthMiddlewareFactory 设置使用AuthMiddlewareFactory
func WithAuthMiddlewareFactory() optparams.Option[Options] {
	return optparams.NewFuncOption(func(o *Options) {
		o.AuthMiddlewareFactory = models.AuthMiddlewareFactory
	})
}
