package {{ apinamespace }}namespace

import "github.com/gin-gonic/gin"

func Init(group *gin.RouterGroup) {
	s := Source{}
	ls := ListSource{}
	group.GET("", ls.Get)
	group.POST("", ls.Post)
	group.GET("/:uid", s.Get)
	group.PUT("/:uid", s.Put)
	group.DELETE("/:uid", s.Delete)
}
