package main

import (
	"os"

	"{{ app_name }}/serv"

	log "github.com/Golang-Tools/loggerhelper/v2"
	s "github.com/Golang-Tools/schema-entry-go/v2"
)

// @title {{ app_name }}
// @version {{ version }}
// @description 测试

// @contact.name {{ author }}
// @contact.email {{ author_email }}

// @license.name Apache 2.0
// @license.url http://www.apache.org/licenses/LICENSE-2.0.html

// @host localhost:5000
// @BasePath /
// @securityDefinitions.apikey JWT
// @in header
// @name Authorization
func main() {
	serv, err := s.NewEndPoint(new(serv.Serv), s.WithName("{{ app_name }}"), s.WithUsage("{{ app_name }} [options]"))
	if err != nil {
		log.Error("create entrypoint get error", log.Dict{"err": err})
		os.Exit(2)
	}
	serv.Parse(os.Args)
}
