package universal

import (
	log "github.com/Golang-Tools/loggerhelper/v2"
)

type ResultResponse struct {
	Succeed bool   `json:"succeed"`
	Message string `json:"message,omitempty"`
}

var Logger *log.Log
