package namespace

import (
	"github.com/Golang-Tools/jwthelper/v2/gin_middleware"
	"github.com/gin-gonic/gin"
)

func Init(group *gin.RouterGroup, authMiddlewareFactory gin_middleware.AuthMiddlewareFactoryFunc) {
	s := Source{}
	if authMiddlewareFactory == nil {
		group.GET("/example", s.Example)

	} else {
		group.GET("/example", authMiddlewareFactory(), s.Example)
	}
}
