package {{eventnamespace}}namespace

import "github.com/gin-gonic/gin"

func Init(group *gin.RouterGroup) {
	s := Source{}
	ls := ListSource{}
	group.GET("", ls.Get)
	group.POST("", ls.Post)
	group.GET("/:channelid", s.Get)
}
