package events

import (
	"{{ app_name }}/events/{{ event_source }}namespace"

	"github.com/Golang-Tools/jwthelper/gin_middleware"
	"github.com/gin-gonic/gin"
)

// InitWithAuthCheck 初始化路由,路由带权限校验
func InitWithAuthCheck(authMiddlewareFactory gin_middleware.AuthMiddlewareFactoryFunc) func(*gin.Engine) {
	// 计时器
	return func(app *gin.Engine) {
		{{ event_source }}namespace.Init(app.Group("/event"), authMiddlewareFactory)
	}
}

// Init 初始化路由
func Init(app *gin.Engine) {
	// 计时器
	{{ event_source }}namespace.Init(app.Group("/event"), nil)
}
